<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <base href="/" />
    <title>Cadastro de Centro de custo</title>
</head>

<body>
<div layout:fragment="conteudo">
    <h1>
        Cadastro Centro de custo
    </h1>

    <a href="home/page">Voltar para Home</a>

    <form method="post" action="/cc_ref">

        <input type="hidden" name="_method" value="put" th:if="${cc_ref != null}">
        <input type="hidden" name="id" th:value="${cc_ref?.id}">

        <div>
            <label for="codigo">
                Código centro de custo:
            </label>
            <input id="codigo" name="codigo" th:value="${cc_ref?.codigo}" autocomplete="off">
        </div>

        <div>
            <label for="descricao">
                Descrição centro de custo:
            </label>
            <input id="descricao" name="descricao" th:value="${cc_ref?.descricao}" autocomplete="off">
        </div>


        <input type="submit" value="Cadastrar">

    </form>
</div>
</body>
</html>