<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Lista de centro de custo</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>
        Lista de centro de custo
    </h1>

    <a href="/custos/formulario">Novo</a>
    <a href="home/page">Voltar para Home</a>

    <table>
        <thead>
        <tr>
            <th>CÓDIGO_CC</th>
            <th>DESCRIÇÃO_CC</th>
            <th>AÇÕES</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="custos : ${lista}">
            <td th:text="${custos.codigo}"></td>
            <td th:text="${custos.descricao}"></td>

            <td>
                <a th:href="@{/custos/formulario?id={id}(id=${custos.id})}">Editar</a>

                <form action="/custos" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="id" th:value="${custos.id}">

                    <input type="submit" value="Excluir">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>