<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <base href="/" />
    <title>Cadastro de Posto</title>
</head>

<body>
<div layout:fragment="conteudo">
    <h1>
        Cadastro de Posto
    </h1>

    <a href="home/page">Voltar para Home</a>

    <form method="post" action="/posto">

        <input type="hidden" name="_method" value="put" th:if="${posto != null}">
        <input type="hidden" name="id" th:value="${posto?.id}">

        <div>
            <label for="nome">
                Nome:
            </label>
            <input id="nome" name="nome" th:value="${posto?.nome}" autocomplete="off">
        </div>

        <div>
            <label for="tipo">
                Tipo:
            </label>
            <input id="tipo" name="tipo" th:value="${posto?.tipo}" autocomplete="off">
        </div>


        <input type="submit" value="Cadastrar">

    </form>
</div>
</body>
</html>