<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <base href="/" />
    <title>Cadastro de Posto</title>

    <script>

        function validarFormularioPosto() {
            var tagSelect = document.getElementById("tag_eqp_fk");
            var errorMessage = '';

            if (tagSelect.value === "") {
                errorMessage += 'Tag é obrigatória. ';
                tagSelect.style.borderColor = 'red';
            } else {
                tagSelect.style.borderColor = '';
            }

            document.getElementById("error-message").textContent = errorMessage;
            return errorMessage === '';
        }

    </script>
</head>

<body>
<div layout:fragment="conteudo">
    <h1>
        Cadastro de Posto
    </h1>

    <a href="home/page">Voltar para Home</a>

    <form method="post" action="/posto_ref" onsubmit="return validarFormularioPosto();">

        <input type="hidden" name="_method" value="put" th:if="${posto_ref != null}">
        <input type="hidden" name="id" th:value="${posto_ref?.id}">

        <div>
            <label for="tipo">
                Tipo:
            </label>
            <select id="tipo" name="tipo">
                <option value="">Selecione o tipo</option>
                <option value="POSTO">POSTO</option>
                <option value="COMBOIO">COMBOIO</option>
            </select>

        </div>

        <div>
            <label for="descricao">
                Descricao:
            </label>
            <input id="descricao" name="descricao" th:value="${posto_ref?.descricao}" autocomplete="off">
        </div>

        <div>
            <label for="sigla">
                Sigla:
            </label>
            <input id="sigla" name="sigla" th:value="${posto_ref?.sigla}" autocomplete="off">
        </div>

        <div id="error-message" style="color: red;"></div>
        <div>
            <label for="tag_eqp_fk">
                Tag do Equipamento:
            </label>
            <a href="/equipamento/formulario" class="btn">Cadastrar Equipamento</a>
            <select id="tag_eqp_fk" name="tag_eqp_fk">
                <option value="">Selecione a Tag</option>
                <option th:each="tag_eqp_fk : ${equipamentos}" th:value="${tag_eqp_fk.tag}" th:selected="${
                posto_ref != null and posto_ref.tag_eqp_fk  == tag_eqp_fk.tag
                }">

                <span th:text="${tag_eqp_fk.tag}"></span>
                </option>
            </select>

        </div>


        <input type="submit" value="Cadastrar">

    </form>


</div>
</body>
</html>