<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
  <title>Lista de postos</title>
</head>
<body>
<div layout:fragment="conteudo">
  <h1>
    Lista de postos
  </h1>

  <a href="/posto_ref/formulario">Novo</a>
  <a href="home/page">Voltar para Home</a>

  <table>
    <thead>
    <tr>
      <th>TIPO</th>
      <th>DESCRIÇÃO</th>
      <th>SIGLA</th>
      <th>TAG EQP.</th>
      <th>AÇÕES</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="posto_ref : ${lista}">
      <td th:text="${posto_ref.tipo}"></td>
      <td th:text="${posto_ref.descricao}"></td>
      <td th:text="${posto_ref.sigla}"></td>
      <td th:text="${posto_ref.tag_eqp_fk}"></td>

      <td>
        <a th:href="@{/posto_ref/formulario?id={id}(id=${posto_ref.id})}">Editar</a>

        <form action="/posto_ref" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="id" th:value="${posto_ref.id}">

          <input type="submit" value="Excluir">
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>