<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <base href="/" />
    <title>Cadastro de equipamento</title>


    <script>
        function atualizarSigla() {
            var categoriaSelect = document.getElementById("categoria");
            var categoriaSelectionada = categoriaSelect.options[categoriaSelect.selectedIndex].text;
            var siglaInput = document.getElementById("sigla");

            fetch('equipamento/getSiglaByCategoria?categoria=' + encodeURIComponent(categoriaSelectionada))
                .then(response => response.text())
                .then(sigla => {
                    if (sigla) {
                        siglaInput.value = sigla;
                        siglaInput.readOnly = true;
                    } else {
                        siglaInput.value = '';
                        siglaInput.readOnly = false;
                    }
                })
                .catch(error => console.error('Error ao obter a silga da categoria: ', error));
        }
    </script>

</head>

<body>
<div layout:fragment="conteudo">
    <h1>
        Cadastro Equipamento
    </h1>

    <a href="home/page">Voltar para Home</a>

    <form method="post" action="/equipamento">

        <input type="hidden" name="_method" value="put" th:if="${equipamento != null}">
        <input type="hidden" name="id" th:value="${equipamento?.id}">

        <div>
            <label for="categoria">
                Categoria:
            </label>
            <a href="/categoria/formulario" class="btn">Cadastrar categoria</a>
            <select id="categoria" name="categoria" onchange="atualizarSigla()">
                <option value="">Selecione a categoria</option>
                <option th:each="categoria : ${categorias}" th:value="${categoria.nome}" th:selected="${
            equipamento != null and equipamento.categoria == categoria
        }" th:data-sigla="${categoria.sigla}">
                    <span th:text="${categoria.nome}"></span>
                </option>
            </select>
        </div>

        <div>
            <label for="sigla">
                Sigla:
            </label>
            <input id="sigla" name="sigla" th:value="${equipamento?.sigla}">
        </div>

        <div>
            <label for="tag">
                Tag Nº:
            </label>
            <input id="tag" name="tag" th:value="${equipamento?.tag}">
        </div>


        <div>
            <label for="rfid">
                RFID:
            </label>
            <input id="rfid" name="rfid" th:value="${equipamento?.rfid}">
        </div>

        <div>
            <label for="habilitar">
                Habilitar:
            </label>
            <input id="habilitar" name="habilitar" type="checkbox" th:checked="${equipamento?.habilitar}" >
        </div>


        <div>
            <label for="empresa">
                Empresa:
            </label>
            <a href="/empresa/formulario" class="btn">Cadastrar empresa</a>
            <select id="empresa" name="empresa">
                <option value="">Selecione a empresa</option>
                <option th:each="empresa : ${empresas}" th:value="${empresa.nome}" th:selected="${
                        equipamento != null and equipamento.empresa == empresa
                    }">
                    <span th:text="${empresa.nome}"></span>
                </option>
            </select>
        </div>

        <div>
            <label for="custos">
                Código CC:
            </label>
            <a href="/custos/formulario" class="btn">Cadastrar Centro de custo</a>
            <select id="custos" name="custos">
                <option value="">Selecione o código CC</option>
                <option th:each="custos : ${custo}" th:value="${custos.codigo}" th:selected="${
                        equipamento != null and equipamento.custos == custos
                    }">
                    <span th:text="${custos.codigo}"></span>
                </option>
            </select>
        </div>

        <input type="submit" value="Cadastrar">

    </form>
</div>
</body>
</html>