<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <base href="/" />
    <title>Cadastro de equipamento</title>


    <script>
        function atualizarSigla() {
            var categoria_refSelect = document.getElementById("categoria_ref");
            var categoria_refSelectionada = categoria_refSelect.options[categoria_refSelect.selectedIndex].text;
            var siglaInput = document.getElementById("sigla_cat_FK");

            fetch('equipamento/getSiglaByCategoria_ref?categoria_ref=' + encodeURIComponent(categoria_refSelectionada))
                .then(response => response.text())
                .then(sigla => {
                    if (sigla) {
                        siglaInput.value = sigla;
                        siglaInput.readOnly = true;
                    } else {
                        siglaInput.value = '';
                        siglaInput.readOnly = false;
                    }
                })
                .catch(error => console.error('Erro ao obter a silga da categoria_ref: ', error));
        }

        function atualizarCnpj() {
            var empresa_refSelect = document.getElementById('empresa_ref');
            var empresa_refSelectionada = empresa_refSelect.options[empresa_refSelect.selectedIndex].text;
            var cnpjInput = document.getElementById('cnpj');

            fetch('equipamento/getCnpjByEmpresa_ref?empresa_ref=' + encodeURIComponent(empresa_refSelectionada))
                .then(response => response.text())
                .then(cnpj => {
                    if (cnpj) {
                        cnpjInput.value = cnpj;
                        cnpjInput.readOnly = true;
                    } else {
                        cnpjInput.value = '';
                        cnpjInput.readOnly = false;
                    }
                })
                .catch(error => console.error('Erro ao obter o cnpj da empresa_ref: ', error))
        }

        function atualizarDescricao() {
            var cc_refSelect = document.getElementById('cc_ref');
            var cc_refSelectionado = cc_refSelect.options[cc_refSelect.selectedIndex].text;
            var descricaoInput = document.getElementById('descricao');

            fetch('equipamento/getDescricaoByCc_ref?cc_ref=' + encodeURIComponent(cc_refSelectionado))
                .then(response => response.text())
                .then(descricao => {
                    if (descricao) {
                        descricaoInput.value = descricao;
                        descricaoInput.readOnly = true;
                    } else {
                        descricaoInput.value = '';
                        descricaoInput.readOnly = false;
                    }
                })
                .catch(error => console.error("Erro ao obter a descricao da empresa_ref"))
        }

        function validarFormularioEquipamento() {
            var categoria_refSelect = document.getElementById("categoria_ref");
            var empresa_refSelect = document.getElementById("empresa_ref");
            var cc_refSelect = document.getElementById("cc_ref");

            var errorMessage = '';

            if (categoria_refSelect.value === "") {
                errorMessage += 'Categoria_ref é obrigatória. ';
                categoria_refSelect.style.borderColor = 'red';
            } else {
                categoria_refSelect.style.borderColor = '';
            }

            if (empresa_refSelect.value === "") {
                errorMessage += 'Empresa_ref é obrigatória. ';
                empresa_refSelect.style.borderColor = 'red';
            } else {
                empresa_refSelect.style.borderColor = '';
            }

            if (cc_refSelect.value === "") {
                errorMessage += 'Cc_ref é obrigatório. ';
                cc_refSelect.style.borderColor = 'red';
            } else {
                cc_refSelect.style.borderColor = '';
            }

            document.getElementById('error-message').textContent = errorMessage;

            return errorMessage === '';
        }
    </script>

</head>

<body>
<div layout:fragment="conteudo">
    <h1>
        Cadastro Equipamento
    </h1>

    <a href="home/page">Voltar para Home</a>

    <form method="post" action="/equipamento" onsubmit="return validarFormularioEquipamento()">

        <input type="hidden" name="_method" value="put" th:if="${equipamento != null}">
        <input type="hidden" name="id" th:value="${equipamento?.id}">

        <div>
            <label for="categoria_ref">
                Categoria:
            </label>
            <a href="/categoria_ref/formulario" class="btn">Cadastrar categoria</a>
            <select id="categoria_ref" name="categoria_ref" onchange="atualizarSigla()">
                <option value="">Selecione a categoria</option>
                <option th:each="categoria_ref : ${categoria_refs}" th:value="${categoria_ref.nome}" th:selected="${
            equipamento != null and equipamento.categoria == categoria_ref.nome
        }" th:data-sigla="${categoria_ref.sigla}">
                    <span th:text="${categoria_ref.nome}"></span>
                </option>
            </select>
        </div>

        <div>
            <label for="sigla_cat_FK">
                Sigla:
            </label>
            <input id="sigla_cat_FK" name="sigla_cat_FK" th:value="${equipamento?.sigla_cat_FK}" autocomplete="off">
        </div>

        <div>
            <label for="tag">
                Tag Nº:
            </label>
            <input id="tag" name="tag" th:value="${equipamento?.tag}" autocomplete="off">
        </div>


        <div>
            <label for="rfid">
                RFID:
            </label>
            <input id="rfid" name="rfid" th:value="${equipamento?.rfid}" autocomplete="off">
        </div>

        <div>
            <label for="habilitar">
                Habilitar:
            </label>
            <input id="habilitar" name="habilitar" type="checkbox" th:checked="${equipamento?.habilitar}" >
        </div>


        <div>
            <label for="empresa_ref">
                Empresa:
            </label>
            <a href="/empresa_ref/formulario" class="btn">Cadastrar empresa</a>
            <select id="empresa_ref" name="empresa_ref" onchange="atualizarCnpj()">
                <option value="">Selecione a empresa</option>
                <option th:each="empresa_ref : ${empresa_refs}" th:value="${empresa_ref.nome}" th:selected="${
                        equipamento != null and equipamento.empresa == empresa_ref.nome
                    }">
                    <span th:text="${empresa_ref.nome}"></span>
                </option>
            </select>
        </div>

        <div>
            <label for="cnpj">
                Cnpj:
            </label>
            <input id="cnpj" name="cnpj" th:value="${equipamento?.cnpj}" autocomplete="off">
        </div>

        <div>
            <label for="cc_ref">
                Código CC:
            </label>
            <a href="/cc_ref/formulario" class="btn">Cadastrar Centro de custo</a>
            <select id="cc_ref" name="cc_ref" onchange="atualizarDescricao()">
                <option value="">Selecione o código CC</option>
                <option th:each="cc_ref : ${cc_refs}" th:value="${cc_ref.codigo}" th:selected="${
                        equipamento != null and equipamento.custos == cc_ref.codigo
                    }">
                    <span th:text="${cc_ref.codigo}"></span>
                </option>
            </select>
        </div>

        <div>
            <label for="descricao">
                Descrição:
            </label>
            <input id="descricao" name="descricao" th:value="${equipamento?.descricao}" autocomplete="off">
        </div>

        <input type="submit" value="Cadastrar">

    </form>

    <div id="error-message" style="color: red;"></div>

</div>
</body>
</html>