<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
  <title>HOME</title>
</head>
<body>
<div layout:fragment="conteudo">
  <h1>HOME</h1>

  <div class="buttons-container">
    <div class="category-container">
      <h3>Clique para cadastrar:</h3>
      <a href="/trabalhador/formulario" class="btn">TRABALHADOR</a>
      <a href="/equipamento/formulario" class="btn">EQUIPAMENTO</a>
      <a href="/posto_ref/formulario" class="btn">POSTO</a>
      <a href="/empresa_ref/formulario" class="btn">EMPRESA</a>
      <a href="/cc_ref/formulario" class="btn">CENTRO DE CUSTO</a>
      <a href="/categoria_ref/formulario" class="btn">CATEGORIA</a>
      <a href="/abastecimento_posto/formulario" class="btn">ABASTECIMENTO POSTO</a>
    </div>

    <div class="category-container">
      <h3>Clique para ver:</h3>
      <a href="/trabalhador" class="btn">TRABALHADOR</a>
      <a href="/equipamento" class="btn">EQUIPAMENTO</a>
      <a href="/posto_ref" class="btn">POSTO</a>
      <a href="/empresa_ref" class="btn">EMPRESA</a>
      <a href="/cc_ref" class="btn">CENTRO DE CUSTO</a>
      <a href="/categoria_ref" class="btn">CATEGORIA</a>
      <a href="/abastecimento_posto" class="btn">ABASTECIMENTO POSTO</a>
    </div>
  </div>
</div>
</body>
</html>
